@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap");

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

#suit {
  width: 100vw;
  min-height: 100vh;
  place-items: center;
  background-color: #9c835f;
  font-family: "Montserrat", sans-serif;
  padding-top: 40px;
}

#suit h1 {
  font-weight: bold;
}

#suit h2 {
  font-weight: bold;
}

#suit h3 {
  font-weight: bold;
}

.GameDetailPages {
  width: 1000px;
  min-height: 600px;
  text-align: center;
}

.divright {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-left: 3rem;
}

.btngame {
  
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 2px;
  padding-bottom: 5px;
  border-radius: 0.5rem;
  background-color: orange;
  color: white;
  border: none;
  outline-style: none;
}

.btngame:hover {
  color: orange;
  background-color: white;
  font-weight: 500;
}


/* img {
  width: 120px;
  margin: 40px 0;
} */

@media only screen and (max-width: 1000px) {
  .App {
    max-width: 100vw;
  }
}
