.imageContainer {
  width: 50px !important;
}

.main {
  background-color: #3a3a3a;
}

/* .imageContainer > div {
  position: unset !important;
} */

.image {
  margin-top: 40px !important;
  margin-bottom: 80px !important;
  object-fit: contain;
  width: 20% !important;
  position: relative !important;
  height: 40% !important;
  align-items: center;
}

.title {
  margin-bottom: -80px;
  color: orange;
}

.btn {
  width: 205px;
  height: 32px;
  margin-top: -15px;
  background-color: orange;
  color: white;
}
.ask {
  margin-top: -20px;
  margin-bottom: 15px;
  color: black;
}

.login,
.register {
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 50%;
  height: 60%;
  -webkit-box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
  box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
  background-color: honeydew;
  display: flex;
  align-items: center;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.center {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
}

.or {
  border: 2px solid lightgray;
  border-radius: 50%;
  padding: 10px;
  color: orange;
  background-color: white;
  font-weight: bold;
  background-color: honeydew;
}

.loginbutton-google {
  width: 150px;
  padding: 15px 25px;
  border-radius: 5px;
  color: white;
  background-color: goldenrod;
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-bottom: 10px;
  cursor: pointer;
  height: 45px;
  background-color: #df4930;
}
.loginbutton-facebook {
  width: 150px;
  padding: 15px 25px;
  border-radius: 5px;
  color: white;
  background-color: goldenrod;
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-bottom: 10px;
  cursor: pointer;
  height: 45px;
  background-color: #507cc0;
}
.loginbutton-github {
  width: 150px;
  padding: 15px 25px;
  border-radius: 5px;
  color: white;
  background-color: goldenrod;
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-bottom: 10px;
  cursor: pointer;
  height: 45px;
  background-color: black;
}

.icon {
  margin-left: -1px;
}

.registerButton {
  background-color: orange !important;
  height: auto;
  width: 260px;
}

@media screen and (max-width: 992px) {
  .wrapper {
    margin-top: 30px;
    width: 65%;
    height: 65%;
    flex-direction: column;
  }

  .loginButton {
    height: 35px;
  }
  .center {
    width: 40%;
    position: relative;
  }

  .left {
    padding: 20px;
  }

  .right {
    padding: 20px;
    margin-top: auto;
    margin-bottom: auto;
  }

  .line {
    height: 70px;
    width: 100px;
  }
}
