/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.title {
  color: #fff;
  text-transform: uppercase;
  line-height: 40px;
}

.title-content {
  display: block;
  opacity: 0;
  animation: revealText 0.5s forwards;
}

.title-second {
  animation-delay: 0.175s;
}
.title-third {
  animation-delay: 0.25s;
}
@keyframes revealText {
  from {
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: none;
  }
} */

.landingImage {
  height: 200px;
  z-index: 0;
}

.landingText {
  text-align: center;
  position: relative;
  z-index: 1;

  margin-top: 30px;
  text-decoration: underline burlywood;
  color: orange;
  text-shadow: 2px 2px 0px #00000080;
}
.backHome {
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  background-color: inherit;
  color: orange;
  text-shadow: 2px 2px 0px #00000080;
  font-size: 17px;
  font-weight: bold;
  border-radius: 10%;
  border-width: 4px;
  width: 100px;
  border-color: orange;
}

.backHome:hover {
  background-color: orange;
  color: honeydew;
  border-color: honeydew;
  outline-style: solid;
  font-weight: bold;
  text-shadow: none;
  border-width: 2px;
}

.goHome {
  margin-top: 340px;
}
