html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #3a3a3a;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  /* color: white; */
}
