.container {
	padding: 0 2rem;
	
}

.main {
	min-height: 100vh;
	padding: 4rem 0;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #3a3a3a;
}

.footer {
	display: flex;
	flex: 1;
	padding: 2rem 0;
	border-top: 1px solid #eaeaea;
	justify-content: center;
	align-items: center;
}

.footer a {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}

.title a {
	color: royalblue;
	text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
	text-decoration: underline;
}



.title {
	margin: 0;
	line-height: 1.15;
	font-size: 4rem;
	color: orange;
	text-decoration: none;
	font-weight: bold;
	text-shadow: -0.5px 0.5px 0 black,
					0.5px 0.5px 0 black,
					0.5px -0.5px 0 black,
                    -0.5px -0.5px 0 black;
}

.title2 {
	margin: 0;
	line-height: 1.15;
	font-size: 7rem;
	color: orange;
	font-weight: bold;
	text-shadow: -0.5px 0.5px 0 black,
					0.5px 0.5px 0 black,
					0.5px -0.5px 0 black,
                    -0.5px -0.5px 0 black;
}

.title,
.description {
	text-align: center;
}

.description {
	margin: 4rem 0;
	line-height: 1.5;
	font-size: 1.5rem;
}

.code {
	background: #fafafa;
	border-radius: 5px;
	padding: 0.75rem;
	font-size: 1.1rem;
	font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,
		monospace;
}

.grid {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 800px;
}

.card {
	margin: 1rem;
	padding: 1.5rem;
	text-align: left;
	color: white;
	text-decoration: none;
	border: 1px solid #eaeaea;
	border-radius: 10px;
	transition: color 0.15s ease, border-color 0.15s ease;
	max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
	color: orange;
	border-color: orange;
}

.card h2 {
	margin: 0 0 1rem 0;
	font-size: 1.5rem;
	color: white;
}

.card p {
	margin: 0;
	font-size: 1.25rem;
	line-height: 1.5;
}

.card2 {
	margin: 1rem;
	padding: 1.5rem;
	text-align: left;
	color: white;
	text-decoration: none;
	border: 1px solid #eaeaea;
	border-radius: 10px;
	transition: color 0.15s ease, border-color 0.15s ease;
	max-width: 300px;
}

.card2:hover,
.card2:focus,
.card2:active {
	color: royalblue;
	border-color: royalblue;
}

.card2 h2 {
	margin: 0 0 1rem 0;
	font-size: 1.5rem;
	color: white;
}

.card2 p {
	margin: 0;
	font-size: 1.25rem;
	line-height: 1.5;
}

.username {
	color: white;
	text-align: center;
}

.logo {
	height: 1em;
	margin-left: 0.5rem;
}

@media (max-width: 600px) {
	.grid {
		width: 100%;
		flex-direction: column;
	}
}
